// have to hardcode this one because css is silly

#baroskoe{
	&:hover{
		background-image: url('/viscom2016/roster/baroskoe/baroskoe.gif');
	}
}

#dehlerm{
	&:hover{
		background-image: url('/viscom2016/roster/dehlerm/dehlerm.gif');
	}
}

#drakea{
	&:hover{
		background-image: url('/viscom2016/roster/drakea/drakea.gif');
	}
}

#dunmoyerh{
	&:hover{
		background-image: url('/viscom2016/roster/dunmoyerh/dunmoyerh.gif');
	}
}

#duykerj{
	&:hover{
		background-image: url('/viscom2016/roster/duykerj/duykerj.gif');
	}
}

#edwardsj{
	&:hover{
		background-image: url('/viscom2016/roster/edwardsj/edwardsj.gif');
	}
}

#farnsworthe{
	&:hover{
		background-image: url('/viscom2016/roster/farnsworthe/farnsworthe.gif');
	}
}

#kimg{
	&:hover{
		background-image: url('/viscom2016/roster/kimg/kimg.gif');
	}
}

#lonacs{
	&:hover{
		background-image: url('/viscom2016/roster/lonacs/lonacs.gif');
	}
}

#lumpes{
	&:hover{
		background-image: url('/viscom2016/roster/lumpes/lumpes.gif');
	}
}

#masnyyo{
	&:hover{
		background-image: url('/viscom2016/roster/masnyyo/masnyyo.gif');
	}
}

#pendergrassl{
	&:hover{
		background-image: url('/viscom2016/roster/pendergrassl/pendergrassl.gif');
	}
}

#reagank{
	&:hover{
		background-image: url('/viscom2016/roster/reagank/reagank.gif');
	}
}

#robertsonm{
	&:hover{
		background-image: url('/viscom2016/roster/robertsonm/robertsonm.gif');
	}
}

#tser{
	&:hover{
		background-image: url('/viscom2016/roster/tser/tser.gif');
	}
}

#wallj{
	&:hover{
		background-image: url('/viscom2016/roster/wallj/wallj.gif');
	}
}

#whitmorea{
	&:hover{
		background-image: url('/viscom2016/roster/whitmorea/whitmorea.gif');
	}
}

#yemelianovj{
	&:hover{
		background-image: url('/viscom2016/roster/yemelianovj/yemelianovj.gif');
	}
}

