.profile-video{
	margin: 0 1.5rem 0 0;
	flex: 0 0 250px;

	background-repeat: no-repeat;
	background-size: contain;
	width: 250px;
		& video{
		width: 100%;
		margin: 0;
	}
	&:hover{
		& video{
			opacity: 0;
		}
	}
	@media screen and (max-width: 45em){
		display: none;
	}
}

.profile-interests{
	font-size: .9em;
	padding: 0;
	color: #999;
}

.profile-duotainer{
	display: flex;
	margin: 0 auto;
	padding: 1.5rem;
	background-color: #E1EEF4;
}

.profile-img{
	width: 20%;
}

.profile-info{
	margin: 0;
	& h2{
		text-transform: uppercase;
	}
	& i{
		margin: 0;
	}
}

.profile-links{
	display: flex;
	flex-wrap: wrap;
	& a{
		margin: 0 .8rem 0 0;
	}
}