.fw-em{
	font-variant: small-caps;
	font-style: italic;
}

.fullwidth{
	max-width: 1366px;
	width: 100%;
}

.google-maps{
	position: relative;
	padding-bottom: 60%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}

.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
}

.h1-halfmargin{
	margin-top: 2rem;
}

.no-top-margin{
	margin-top: 0;
}

.no-margin{
	margin: 0;
}

.no-underline{
	text-decoration: none;
}

.clearfix{
	clear: both;
	overflow: auto;
	zoom: 1;
}