<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	<header class="fullwidth">
		<section class="fullwidth header-video">
			<div class="fullwidth placeholder">
				<div class="fullwidth fullscreen-bg">
					<!-- thank you to http://slicejack.com/fullscreen-html5-video-background-css/ -->
					<!-- TODO - Optimize video. -->
					<video controls="true" loop muted autoplay poster="img/todo.jpg" class="fullwidth fullscreen-bg__video" loop="">
						<source src="video/hero.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</section>
	</header>
	<main class="fullwidth">
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
			<source src="video/logan-04-idle_square_1_smush.mp4" type="video/mp4">

		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
		<video loop muted autoplay class="">
			<source src="video/logan-04-idle_square.webm" type="video/webm">
		</video>
	</main>
	</body>
	</html>
